div#main article table, div#main article th, div#main article td {
  border: 1px solid #e7e7e7;
  border-collapse: collapse;
  padding: 5px 10px;
}


div#main article table#new, div#main article table#new th, div#main article table#new td{
	border:0px;
	padding: 7px 16px 7px 0px;
}

#new_nav {
	height:22px;
	background: url(/images/header-small.png);

	border-radius: 5px;
	margin-bottom: 30px;
	margin-top: 30px;

  border-top-width:5px;
  border-top-style:solid;
  border-top-color:#DFDFDF;

  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#DFDFDF;

  border-left-width:1px;
  border-left-style:solid;
  border-left-color:#DFDFDF;

  border-right-width:1px;
  border-right-style:solid;
  border-right-color:#DFDFDF;

  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.p1 {
	margin-bottom:10px;
	margin-top:20px;
}

#top_list ul {
	float:left;
	padding-top:10px;
	margin: 0 0 9px 0px;
}		

#container #main article ul#top_list {
	margin: 0 0 9px 0px;

}

#container #main article ul#top_list li a {
	font-size:17px;
	text-decoration:  none;
	margin:10px;
}

#top_list li {
	list-style-type: none;
	display: inline;
	border-right: 1px solid #E5E5E5;
}

div#main article th {
  background-color: #e7e7e7;
  border: 1px solid #c7c7c7;
  padding: 5px 10px;
}

div#main article > h1 { display: none; }

input.calc_input {
  margin: 0;
}

div.calculator ul {
  list-style-type: none;
  margin: 0;
}
div.calculator li {
  margin-top: 7px;
}

div.calculator li label {
  width: 200px;
  float: left;
  clear: left;
}

div.calculator li p {
  padding: 0 !important;
}

div.calc_info {
  color: red;
  float: right;
  z-index: 10;
  margin-right: 120px;
  padding-top: 8px;
  width: 350px;
  height: 50px;
}

div.info, div.note {
    margin: 1em 0 !important;
    padding: 1.2em 2.0em 1.2em 2.5em !important;
    overflow: auto !important;
    background-repeat: no-repeat;
    background-position: 0.7em 1.3em;
}

div.info {
  border: 1px solid #9eb6df;
  background-color: #e0efff;
  background-image: url(/images/information.png);
}

div.note {
  border: 1px solid #f7df92;
  background-color: #ffd;
  background-image: url(/images/error.png);
}

div.info div.title {
  padding-top: 0.1em;
  font-size: 90%;
  font-weight: bold;
}

div.note div.title {
  padding-top: 0.1em;
  font-size: 90%;
  font-weight: bold;
}

h2 a.toc-anchor,
h3 a.toc-anchor,
h4 a.toc-anchor,
h5 a.toc-anchor,
h6 a.toc-anchor {
   text-decoration: none;
   color: #eee;
   display: none;
}

/*h2:hover a.toc-anchor,
h3:hover a.toc-anchor,
h4:hover a.toc-anchor,
h5:hover a.toc-anchor,
h6:hover a.toc-anchor {
   display: inline;
}
*/
a#feedback-link {
  background-image: -moz-linear-gradient( center top, rgb(255,196,128) 0%, rgb(255,155,41) 80%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255,196,128)), color-stop(0.8, rgb(255,155,41)) );
  border: 1px solid #e89143;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #9d5e17;
  text-shadow: #ffb96b 1px 1px 1px;
  font-weight: bold;
  width: 90px;
  padding: 20px 4px 8px 8px;
  display: block;
  text-decoration: none;
  text-align: center;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  position: fixed;
  top: 50%;
  left: -40px;
}

a#feedback-link:hover {
  margin-left: 4px;
}

a#github-ribbon {
  position: fixed;
  top: -5px;
  right: 5px;
  width: 150px;
  line-height: 1;
  padding: 8px 5px 5px;
  color: white;

  /* From colorzilla gradient generator */
  background: #444444; /* Old browsers */
  background: -moz-linear-gradient(top, #444444 0%, #666666 50%, #444444 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(50%,#666666), color-stop(100%,#444444)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #444444 0%,#666666 50%,#444444 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #444444 0%,#666666 50%,#444444 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #444444 0%,#666666 50%,#444444 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #444444 0%,#666666 50%,#444444 100%); /* W3C */

  text-shadow: #333 1px 1px 1px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #949494;
  -moz-box-shadow: 0px 0px 10px #949494;
  box-shadow: 0px 0px 10px #949494;
  z-index: 1;
}

span.error_span {
  color: red;
  margin-left: 5px;
}

/* breadcrumbs */
#main {
   position: relative;
}

#sidebar p {
   position: absolute;
   top: 0;
   left: 205px;
   font-size: 90%;
   line-height: 2;
   width: 790px;
   border-bottom: 1px dotted #eee;
   color: #999;
   z-index: 0
}

#sidebar p a, #sidebar p a:visited {
   color: #999;
}

#main article {
   margin-top: 2.75em;
}

ul.dropdown {
   z-index: 1
}
